<a href="https://colab.research.google.com/github/junsub123/2021_python/blob/main/ch_1%EB%B3%80%EC%88%98%EC%99%80%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
1. python 언어에서 변수의 의미를 이해하기
2. 기본 데이터  타입 선언하기
 - int, float, str, bool

## = 대입연산자
- 오른쪽 수식이나 값을 계산한 후 왼쪽에
명시된 변수에 해당 값을 대입
- 변수는 해당 값을 가지게 된다.

In [ ]:
a = 10 # int
a = 11.4 # float

## **주석**
- 코드에서 #으로 시작하는 뒷부분
- python에서는 소스코드를 실행할 때 #을
만나면 무시
- 개발자(사람)이 보기 위한 용도로 사용

In [ ]:
# This line is very important
# so don't delete those line

math = 70

## **변수 값 확인법**
- print() 함수 사용
- 고드에 마지막에 변수 값을 위치시킨 후 실행

In [ ]:
a = 10
b = 11.4
a
b
print(a)
print(a,b)
b

10
10 11.4

11.4

## **print 함수**
- 함수란 특정 기능을 반복적으로 호출하여 
사용가능한 코드 블럭
- , 로 여러 변수를 한줄에 출력
- 기본적으로 한칸 띄어쓰기 후 출력

In [ ]:
print(a, b)
print(a, 10, 200, b)
print("선생님 사랑해요")

10 11.4
10 10 200 11.4
선생님 사랑해요

**print 함수 설정**
- sep(구분자) : 각변수 사이에서 구분해주는 역할
- end : 마지막에 출력할 문자열

In [ ]:
print(a,b, 200, '준섭', sep = '#', end = '!!')

10#11.4#200#준섭!!

##**변수 이름 규칙**

- 시작을 영문 대소문자 구성가능
- BUT 숫자는 불가능
- 일반적으로 변수를 표현할 때 정확하고 간결한 이름을 사용하는 것이 원칙
- 주석으로 된거는 실행이 안돼는것

In [2]:
abvABC = 1000
___abc = 100
ACBV = 100

### 4ever = 10

### **예약어(키워드)**

- python에서 미리 선점해서 사용중인 키워드
- import, for, while, if, elif 등.....

In [4]:
_for = 100
### for = 120

##**기본 데이터 타입**

- 정수(int)
- 실수(float)
- 문자열(str)
- 불리언(boolean)

**type() 함수**
  - 해당 변수, 값의 타입(type)을 알고자 할 때 사용

In [7]:
a = 100
b = 11.4
c = '오늘은 비가 와요'
d = a>b

print(type(a),a,type(b),b,type(c),c,type(d),d)

<class 'int'> 100 <class 'float'> 11.4 <class 'str'> 오늘은 비가 와요 <class 'bool'> True

### **None**

- 아무런 값을 갖지 않을 때 사용
- 일반적으로 변수가 초기값을 갖지 않게 하기 위해 사용
- Null과 같은 의미

In [8]:
c = None
print(c)

None

##**비교연산자**

- 프로그래밍에서 비교를 할경우 사용한다.
-  <, > (작다, 크다)
- <=, >= (작거나 같다, 크거나 같다)
- == (같다)
- != (같지 않다)
- 비교 연산자 결과는 Bool(참과 거짓)

In [9]:
a = 5
b = 4

print(a>b) # Ture
print(a<b) # False
print(a>=b) # Ture
print(a<=b) # False
print(a==b) # False
print(a!=b) # Ture

True
False
True
False
False
True

## **기본연산자**

In [15]:
print(a+b) # a = 5, b = 4
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b) # 5의 4제곱

9
1
20
1.25
1
1
625

##**연산자 우선순위**

- 기본적으로 수학의 연산자와 동일
- 강제로 연산을 먼저하기 위해서는 ()를 사용

In [16]:
print(a + b * 2) # a = 5, b = 4
print((a + b)* 2)
print(2 * a ** 3)

13
18
250