<a href="https://colab.research.google.com/github/junsub123/2021_python/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(list%2Ctuple%2Cdic%2Cset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
- 리스트(list)와 튜플(tuple)에 대해 이해하기
- 딕셔너리(dict)와 셋(set)에 대해 이해하기

### **리스트(list)와 튜플(tuple)**
- 여러 개의 값을 담을 수 있는 데이터 구조
- list : 생성한 후에 변경이 가능
- tuple : 생성한 후 변경이 불가능

In [ ]:
a = [1,2,3,4,5] # []안에 값을 담아서 생성
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a = ['컴넷','A','1학년',10,20,[2,3]]
print(a)

['컴넷', 'A', '1학년', 10, 20, [2, 3]]

In [ ]:
a = "hello comnet A!"
b = list(a) # list()함수로 리스트생성
# 다른 타입(문자열)을 리스트로 변환할 때 사용 가능

c = a.split() # 물자열의 공백을 기준으로 리스트를 생성
d = a.split('l') #구분자(매개변수) 기분

print(b)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'c', 'o', 'm', 'n', 'e', 't', ' ', 'A', '!']
['h', 'e', 'l', 'l', 'o', ' ', 'c', 'o', 'm', 'n', 'e', 't', ' ', 'A', '!']

### **리스트 indexting**
- [] 연산자를 이용해 항목을 가져온다.
- [i]: i번째 원소를 반환한다.
- i가 음수면, 마지막 원소에서 -1로 하여 가져온다

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[0], a[2])
print(a[-1], a[-3])
print(a[10])

1 3
10 8

IndexError: ignored

In [ ]:
#인덱스 접근 후 값을 업데이트
a = "hello comnet A!" 
b = a.replace('l','w')
c = 'j' +a[1:]
print(b)
print(c)

a = [1,2,3,4,5,6,7,8,9,10]
a[0] = 100
a[-1] = 90
print(a)

hewwo comnet A!
jello comnet A!
[100, 2, 3, 4, 5, 6, 7, 8, 9, 90]

### **리스트 slicing**
- 슬라이싱 결과 역시 리스트
- 문자열과 동일하게 동작

In [ ]:
# a = [1,2,3,4,5,6,7,8,9,10]
# 슬라이싱 [시작:끝:증가]

print(a[3:7])
print(a[:7])
print(a[3:])
print(a[:])
print(a[1:7:2])

[4, 5, 6, 7]
[100, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 90]
[100, 2, 3, 4, 5, 6, 7, 8, 9, 90]
[2, 4, 6]

### **리스트 멤버 함수**
- 생성된 리스트에 동작하는 함수
- append() : 리스트 끝에다가 항목을 추가
- extend() : 리스트를 연장(+=)
- insert() : 원하는 위치에 추가 가능(위치,아이템)

- remove() :  갑승로 항목을 삭제
- pop() : 지우고자 하는 인덱스의 아이템을 반환 후 삭제
- index() : 찾고자하는 값의 인덱스를 반환함

In [ ]:
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15]

In [ ]:
b = [11,12,13,14,15]
# a.extend(b)
a+= b
print(a)

[1, 2, 3, 4, 5, 20, 10, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15]

In [ ]:
a.insert(5,20)
print(a)

[1, 2, 3, 4, 5, 20, 10, 11, 12, 13, 14, 15]

In [ ]:
a.remove(20)
print(a)

[1, 2, 3, 4, 10, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
c = a.pop(10)

print(a)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15]
11

In [26]:
a = [2,6,7,9,10]
a.index(7)

2

### **in 키워드**
- 리스트 내에 해당 값이 존재하는지
- True, FAlse 중 한가지로 반환
- 값 in [list]

In [27]:
a = [1,2,3,4,5,6,7]
b = 5
c = 10
d = b in a

print(d)
print(c in a)

True
False

### **ilst 정렬**
- sort() : 리스트 자체를 내부적으로 정렬
- sorted() : 정렬된 리스트의 복사본을 반환

In [32]:
a = [9,10,23,1,2,45,2,35,129,31,6]
b = sorted(a)
print(a)

a.sort(reverse=True) #거꾸로 정렬
print(a)
print(b)

[9, 10, 23, 1, 2, 45, 2, 35, 129, 31, 6]
[129, 45, 35, 31, 23, 10, 9, 6, 2, 2, 1]
[1, 2, 2, 6, 9, 10, 23, 31, 35, 45, 129]

### **튜플(tuple)**
- 리스트와 같이 여러 개의 값을 갖는 데이터 컬렉션 타입
- 생성된 후 변경이 불가능

In [ ]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

a[0]= 100
print(a)
# b[0]=100 오류!
# print()
print(b)

In [33]:
a,b,c,d = 10, 20, 30, 40
print(a,b,c,d)

10 20 30 40

In [34]:
a = 5
b = 4

#문제: a,b의 값을 교환하시오.
#temp = a
#a = b
#b = temp
print(a,b)
a, b = b, a
print(a,b)

5 4
4 5